*{
    font-family: 'Baloo Bhai 2', cursive;
}
body
{
  background-color: aqua;
}
#title-text {
    font-size: 25px;
    color: #198754;
}

#title-logo-div {
    display: flex;
    justify-content: space-evenly

}

#title-btn-div {
display: flex;
justify-content: space-evenly
}

#user-signup{
    width: 80px; height: 80px;
    margin: auto; background-image: url(../pics/loginpic.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px gray solid; border-radius: 50%; margin-top:10px;
}
#user-login{
    width: 80px; height: 80px;
    background-position: center;
    background-size: 80%;
    margin: auto; background-image: url(../pics/userlogin.png);
    background-repeat: no-repeat;
    border: 2px gray solid; border-radius: 50%; margin-top:10px;
}

#res{
    color: green;
}

#title-img-div{
    background-position: center;
    background-size: contain;
}
#title-img-div:hover{
    opacity: .9;
}